<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://sx-server.oss-cn-beijing.aliyuncs.com/iOS/rilikuaiche(5)(1).ipa?OSSAccessKeyId=LTAIxu0RyVNGbWQt&amp;Expires=1582615527&amp;Signature=FowT27%2FlwHwHtNF4JiDVuEMBj3M%3D</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zjrl.rlyd</string>
				<key>bundle-version</key>
				<string>2.70</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>睿丽有道</string>
				<key>title</key>
				<string>睿丽有道</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
